 <html>
 <head>
 	<title> <%- title %></title>

 	<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


 <%- myCss.style %>

<!-- MDB -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
  rel="stylesheet" />


 </head>
 	
 	<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/data"><img src="http://54.87.142.68:8081/img/auroraLogob.1b1e6eb0.png" style="width: 150px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/data">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="d-none form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form action="/logout" method="POST" class="form-inline my-2 my-lg-0" style="padding-right: 5px;">
        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>logOUT</button>
    </form>

  </div>
</nav>

<div class="container">

  <form  action="/search_Panel/<%= data.sensorName %>" method="POST">
      <div class="row mt-5">
  <!--Grid column-->
    <div class="col-md-4 mb-3">

      <div class="md-form">
        <!--The "from" Date Picker -->

        <input class="form-control datepicker" name="from" placeholder="Selected starting date" type="datetime-local" value="<%-date.from%>" />
        <label for="startingDate">start</label>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2">

      <div class="md-form">
        <!--The "to" Date Picker    --> 
        <input placeholder="Selected ending date" name="to" type="datetime-local"  class="form-control datepicker" value="<%-date.to%>">
        <label for="endingDate">end</label>
      </div>

    </div>

        <div class="col-md-4 mb-2">

      <div class="md-form">
    <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Buscar</button>
      </div>

    </div>


    <!--Grid column-->

  </div>
    
  </form>




<div class="card mt-1">

  <div class="card-header">
      <div class="text-center"><strong><%- data.sensorName %></strong></div>
  </div>

  <div class="card-body">
        
          <div id="chart1" class="chatt" style="width: 100%; height:400px;"></div> 
    
  </div>


  
</div>


<div class="card mt-3 mb-3">

  <div class="card-header">
      <div class="text-center"><strong>Historico</strong></div>
  </div>

  <div class="card-body"  style="max-height: 390px; width: 100%;  overflow: auto">

    <table class="table project-list-table table-nowrap align-middle table-borderless">
           <thead > 

  <tr>

      <th scope="col" class="columnaName">Sensor</th>
      <th scope="col" class="columnaName">tipo</th>
      <th scope="col" class="columnaName">Desibeles</th>
      <th scope="col" class="columnaName">Fecha</th>
               
  </tr>
    
        
        </thead>
        
    

        <tbody> 


    <% if (data){ %>

      <% for(var i = 0; i < data.historyData.length; i++) { %>  


  
    <tr class="hovertabla" style=" position: relative;">


         <td class="hovertabla">
          <div href="#" class="text-body"> <%- data.historyData[i].sensor_name %> </div>
        </td>

        <td class="hovertabla">
          <div href="#" class="text-body"> <%- data.historyData[i].sensor_type %> </div>
        </td>

        <td class="hovertabla">
          <div href="#" class="text-body"> <%- data.historyData[i].noise %> db </div>
        </td>

        <td class="hovertabla">
          <div href="#" class="text-body"> <%- new Date((data.historyData[i].timestamp).toISOString()).toLocaleString("en-US",{timeZone: 'America/Toronto'})  %> </div>
        </td>


    </tr>

          <% } %>

    <% } %>


         <tbody>   

</table>
    
  </div>


  
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" integrity="sha512-k37wQcV4v2h6jgYf5IUz1MoSKPpDs630XGSmCaCCOXxy2awgAWKHGZWr9nMyGgk3IOxA1NxdkN8r1JHgkUtMoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

   let data_history = '<%- JSON.stringify(data.historyData) %>'

   data_history=JSON.parse(data_history) 


    window.onload = () =>{
      console.log(data_history)



      let label= [] 
      let rows= []

      data_history.forEach(elem_noise=>{

        label.push(new Date(elem_noise.timestamp).toLocaleTimeString())
        rows.push(elem_noise.noise[0])
        
      })


  let option = {
  xAxis: {
    type: 'category',
    data:  label,
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: rows,
      type: 'line'
    }
  ]
};

      window.addEventListener('resize', function() {
        chart1.resize();
      });
      
      const chart1 = echarts.init(document.getElementById("chart1"));
      chart1.setOption(option);
}





</script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 	</body>
 </html>

 <div>

